<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="img/run.png">


    <title>MiracleStep Admin Page</title>

    <!-- Bootstrap core CSS -->
    <link href="min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="dashboard.css" rel="stylesheet">

    <script src="ie-emulation-modes-warning.js"></script>
  </head>

  <body>

    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="main.html">Miracle Step</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li><h5 style="color: whitesmoke;">Admin</h5></li>
            <li><a href="main.html">Home</a></li>
            <li><a href="#">Login</a></li>
            <li><a href="#">Logout</a></li>
            <li><a href="#">Help</a></li>
          </ul>
        </div>
      </div>
    </nav>

    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
          <ul class="nav nav-sidebar">
            
            <li><p style="margin-left: 17pt;">Main</p></li>
            <li><a href="main.html">Home</a></li>
            <hr>
            <li><p style="margin-left: 17pt;"><b>User</b></p></li>
            <li><a href="searchUser.html">Search Users</a></li>
            <li class="active"><a href="addingUser.html">Adding Users <span class="sr-only">(current)</span></a></li>
            <li><a href="removingUser.html">Remove Users</a></li>
            <li><a href="modifyingUser.html">Modify Users</a></li>
          </ul><hr>

          <ul class="nav nav-sidebar">
            <li><p style="margin-left: 17pt;">Campaign</p></li>
            <li><a href="searchCampaign.html">Search Campaign</a></li>
            <li><a href="removeCampaign.html">Remove Campaign</a></li>
          </ul>

        </div>
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
          <br>
          <h2 class="sub-header">User Add</h2>
          <div class="table-responsive">

            <!-- 정보 등록 체크 이벤트-->
            <script>
              function update_check(userId){
                
              if (confirm("'"+userId+"' 사용자 정보를 등록하시겠습니까?") == true){    //확인
                  var form = document.addUser;
                  form.submit();
              
              }else{   //취소
                  return;
                }
              }
            </script>

            <!-- User 추가 화면 -->
            <form name="addUser" action="#" method="#" style="border: 1px solid;">
              <table>
                <tr style="border-bottom: 1px solid gray;">
                  <th><h3 style="margin: 20pt;">divison</h3></th>
                  <th><h3 style="margin: 20pt 200pt 20pt 70pt;">input</h3></th>
                </tr>
                  
                <tr>
                  <td><h5 style="margin: 20pt 20pt 10pt 25pt;">ID</h5></td>
                  <td><input type="text" id="addId" name="addId" placeholder="asdf@naver.com" style="margin-left: 70pt;"></td> 
                </tr>
                <tr>
                  <td><h5 style="margin: 10pt 20pt 10pt 25pt;">Password</h5></td>
                  <td><input type="password" name="addPassword" placeholder="*****" style="margin-left: 70pt;"></td> 
                </tr>
                <tr>
                  <td><h5 style="margin: 10pt 20pt 10pt 25pt;">Name</h5></td>
                  <td><input type="text" name="addName" placeholder="card" style="margin-left: 70pt;"></td> 
                </tr>
                <tr>
                  <td><h5 style="margin: 10pt 20pt 10pt 25pt;">PhoneNumber</h5></td>
                  <td><input type="text" name="addPhoneNumber" placeholder="010-1234-5678" style="margin-left: 70pt;"></td> 
                </tr>
                <tr>
                  <td><h5 style="margin: 10pt 20pt 10pt 25pt;">Birth</h5></td>
                  <td><input type="text" name="addBirth" placeholder="2023-03-29" style="margin-left: 70pt;"></td> 
                </tr>
                <tr>
                  <td><h5 style="margin: 10pt 20pt 10pt 25pt;">Height</h5></td>
                  <td><input type="text" name="addHeight" placeholder="180" style="margin-left: 70pt;"></td> 
                </tr>
                <tr>
                  <td><h5 style="margin: 10pt 20pt 10pt 25pt;">Weight</h5></td>
                  <td><input type="text" name="addWeight" placeholder="75" style="margin-left: 70pt;"></td> 
                </tr>
                <tr>
                  <td><h5 style="margin: 10pt 20pt 10pt 25pt;">AvailableStep</h5></td>
                  <td><input type="text" name="addAvailableStep" placeholder="10" style="margin-left: 70pt;"></td> 
                </tr>
                <tr>
                  <td colspan="2" style="padding: 25pt;"><input type="button" value="Add" 
                    style="width: 295pt; height: 20pt;" onclick="update_check(document.getElementById('addId').value)"></td>
                </tr>
              </table>
            </form>

          </div>
        </div>
      </div>
    </div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script src="min.js"></script>
    <!-- Just to make our placeholder images work. Don't actually copy the next line! -->
    <script src="holder.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="ie10-viewport-bug-workaround.js"></script>
  </body>
</html>