<!-- 앞으로 우리가 사용할 기본 템플릿 -->
<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout1}">
<!-- 사용자 CSS 추가 -->
<th:block layout:fragment="css">
  <style>
    .main_img {
      width:550px;
      height:550px;
      float:right;
      margin:10px;
    }

  </style>
</th:block>

<div layout:fragment="content">
  <img class="main_img" src="/img/enterpriseMain.png" style="">

</div>

</html>